[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
django = "*"
djangorestframework = "*"
djangorestframework_simplejwt = "*"
celery ="*"
elasticsearch = "7.17.8"
elasticsearch-dsl = "7.4.0"
django-elasticsearch-dsl = "7.2.0"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
tzdata = "*"
drf-yasg = "*"
django-cors-headers = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pika = "*"
openai = "*"
django-health-check = "*"
django-redis = "*"
django-forestadmin = "*"
python-logstash = "*"
channels = "*"
paho-mqtt = "*"
django-prometheus = "*"

[dev-packages]

[requires]
python_version = "3.10"
